# Source files
src/
*.ts
*.map

# Dependencies
node_modules/
.pnpm-store/

# Build files that are included via package.json
.vscode/
.vscode-test/

# Editor
.git/
.gitignore

# Logs
*.log

# OS
.DS_Store

# Misc
*.vsix
