# Source files
src/
**/*.ts
**/*.map

# Dependencies
node_modules/**
!node_modules/web-tree-sitter/**

# Build files
.vscode/
.vscode-test/

# Editor
.git/
.gitignore

# Logs
*.log

# OS
.DS_Store

# Misc
*.vsix
examples/
